<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check out</title>
    <link rel="icon" href="https://tse2.mm.bing.net/th?id=OIP.tIpRgOXKcINGu9VwvaNkBwAAAA&pid=Api&P=0&w=300&h=300">
    <link rel="stylesheet" href="css/checkout.css">
    <!-- <link rel="stylesheet" href="./styles/style.css"> -->
    <script src="https://kit.fontawesome.com/1498e77e98.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="ssclife">
    <div><a href="homepage.html"><img src="https://tse4.mm.bing.net/th?id=OIP._RBfiehkYJpMAx03aSy0AQHaE4&pid=Api&P=0&w=277&h=183" height="50px" width="50px" alt=""></a> </div>
    <div id="ssctop">
       <div id="sscsymbol"><i class="t"></i></div>

        <div id="ssccall"><p class="pclass1"><br/>
           Delivery Country-India</p>
       </div>
    </div>
   </div>
    <div id="checkoutPun">
        <div id="sdf">
            <hr>
            <div class="checkout">
               <div class="left" >
                <h2>MY INFORMATION</h2>
                  
                   <div class="shippingAdd">
                       <h3>HOME ADDRESS</h3>
                       <label>Full Name</label>
                       <input type="text" name="Name" class="input" placeholder="name" id="name1">
                       <label>Mobile Number</label>
                       <div class="input numberBox"><span>+91</span><input type="number" name="Number" id="" placeholder="number" class="phoneno" ></div>
                       
                       <label>Pincode</label>
                       <input type="number" name="Name" class="input" placeholder="Pincode" id="name">
                       <label>City</label>
                       <input type="text" name="Name" class="input" placeholder="City" id="city">
                       <label class="stateType">State</label>
                       <br>
                       <!-- <input type="text" name="Name" class="input" placeholder="State" id="state"> -->
                       <select name="" id="state">
                           <option value="" class="stateType">Select your State</option>
                          
                        <option value="Andhra Pradesh" id="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh" id="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam" id="Assam">Assam</option>
                        <option value="Bihar" id="Bihar">Bihar</option>
                        <option value="Chhattisgarh" id="Chhattisgarh">Chhattisgarh</option>
                        <option value="Goa" id="Goa">Goa</option>
                        <option value="Gujarat" id="Gujarat">Gujarat</option>
                        <option value="Haryana" id="Haryana">Haryana</option>
                        <option value="Himachal Pradesh" id="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jharkhand" id="Jharkhand">Jharkhand</option>
                        <option value="Karnataka" id="Karnataka">Karnataka</option>
                        <option value="Kerala" id="Kerala">Kerala</option>
                        <option value="Madhya Pradesh" id="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra" id="Maharashtra">Maharashtra</option>
                        <option value="Manipur" id="Manipur">Manipur</option>
                        <option value="Meghalaya" id="Meghalaya">Meghalaya</option>
                        <option value="Mizoram" id="Mizoram">Mizoram</option>
                        <option value="Nagaland" id="Nagaland">Nagaland</option>
                        <option value="Odisha" id="Odisha">Odisha</option>
                        <option value="Punjab" id="Punjab">Punjab</option>
                        <option value="Rajasthan" id="Rajasthan">Rajasthan</option>
                        <option value="Sikkim" id="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu" id="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana" id="Telangana">Telangana</option>
                        <option value="Tripura" id="Tripura">Tripura</option>
                        <option value="Uttar Pradesh" id="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand" id="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal" id="West Bengal">West Bengal</option>
                           
            
                       </select>
                       <br>
                       </select>
                       
                       <label>Building name or number</label>
                       <input type="text" name="Name" class="input" placeholder="Building name" id="building">
                       <label>Street name or number</label>
                       <input type="text" name="Name" class="input" placeholder="Street" id="street">
                       <label>Landmarks</label>
                       <input type="text" name="Name" class="input" placeholder="Landmark" id="landmark">
                       <label>Address Type</label>
                       <div class="Addrress">
                        <div class="costomRadio">
                            <span class="cusRadioB cusRadioB1">
                                <div id="dot" class="dot1"></div>
                            </span>
                            Home
            
                        </div>
                        <div class="costomRadio">
                            <span class="cusRadioB cusRadioB2">
                                <div id="dot" class="dot2"></div>
                            </span>
                            Office
                        
                        </div>
                     </div> 
                   </div>

               </div>
               
               </div>
               
               </div>
               <!-- -----------------wert----------------------------- -->
            <div id="wert">
                <div id="border1">
                    <div id="checkOutMain">
                        <div id="orsum">
                        <h2>    Your order summary</h2>
                        <div id="tot">

                        </div>
                        </div>
                    </div>
                    <hr style="width: 90%;margin-left: 10px;">
                    <div id="masaiN">
                        <div id="part1">
                            <div id="masaiN2">Subtotal:</div>
                            <div id="nikAmt"></div>
                        </div>
                        <div id="part2">
                            <div id="std">
                                Standard Ground Shipping:
                                <br>
                                (2-4 business days)
                            </div>
                            <div id="freeN"></div>
                        </div>
                        <div id="vnTotal">
                            <div>Total</div>
                            <div id="finalTotal">
                            </div>
                        </div>
                    </div>
                </div>
                <p id="ways">Ways you can pay:</p>
                <div id="logoPay">
                    <div>
                        <img src="https://i1.lmsin.net/website_images/ae/checkout/logo-visa.png" alt="">
                    </div>
                    <div>
                        <img src="https://i1.lmsin.net/website_images/in/checkout/logo-rupay.svg" alt="">
                    </div>
                    <div>
                        <img src="https://i1.lmsin.net/website_images/ae/checkout/logo-cash.png" alt="">
                    </div>
                    <div>
                        <img src="https://i1.lmsin.net/website_images/in/checkout/logo-netbanking.svg" alt="">
                    </div>
                    <div>
                        <img src="https://i1.lmsin.net/website_images/in/checkout/logo-wallet.svg" alt="">
                    </div>
                    <div>
                        <img src="https://i1.lmsin.net/website_images/in/checkout/logo-rewards.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
            </div>
               </div>
               <!--------------------payment select------------------------>
                    
        <div class="payment">
            <h3>Select Payment method</h3>
          <div class="costomRadio">
              <span class="cusRadioB cusRadioB2">
                  <div id="dot" class="dot2"></div>
                  </span>
                  <div class="logo"> <img src="https://i1.lmsin.net/website_images/ae/checkout/card-payment.svg" alt=""> 
                     <span class="card"> Credit card and debit card</span>
                     
                  
              </div>
              <!-- logo -->
             
              </div>
              <div class="cardChoice">
                  <div class="creditCard">
                      <div class="costomRadio">
                          <span class="cusRadioB cusRadioB3">
                              <div id="dot" class="dot3"></div>
                          </span>
                         Credit Card
          
                      </div>
                      <div class="costomRadio">
                          <span class="cusRadioB cusRadioB4">
                              <div id="dot" class="dot4"></div>
                          </span>
                         Debit Card
                      </div>
                      
                  </div>
                  <div class="cardDetail">
                  <label>Card Number</label>
                  <br>
             <input type="text" name="Name" class="input1" placeholder="card number" id="cardnum" height="200px" />
             <hr>
             <label>Name on Card</label>
             <br>
             <input type="text" name="Name" class="input1" placeholder="Name on card" id="nameCard">
             <hr>
             <br>

             
             <span class="cardNumber">Expiry Date</span>
             
             <span class="cardNumber2">CVV</span> <br>
             <select name="" id="month1">
                 <option value="month">MM</option>
                 <option value="month">01</option>
                 <option value="month">02</option>
                 <option value="month">03</option>
                 <option value="month">04</option>
                 <option value="month">05</option>
                 <option value="month">06</option>
                 <option value="month">07</option>
                 <option value="month">08</option>
                 <option value="month">09</option>
                 <option value="month">10</option>
                 <option value="month">11</option>
                 <option value="month">12</option>
             </select>
                    
             <!--   yeear -->
             <select name="" id="month1">
              <option value="month">YYYY</option>
              <option value="month">2021</option>
              <option value="month">2022</option>
              <option value="month">2023</option>
              <option value="month">2024</option>
              <option value="month">2025</option>
              <option value="month">2026</option>
              <option value="month">2027</option>
              <option value="month">2028</option>
              <option value="month">2029</option>
              <option value="month">2030</option>
              <option value="month">2031</option>
              <option value="month">2032</option>
          </select>
  
          <!-- cvv -->
          <input type="number" placeholder="CVV" id="cvv"><br>
          <!--  -->
          <div class="cod">
              <br>
              <br>

              <div></div>
          </div>
              </div>
              
                <div class="ssp">
                    <p class="heading">DELIVERY</p>
                  
                   <p style="font-weight: lighter;">Choose mode of delivery.</p>
                </div>
               
            <br>
            <br>
            
                <div class="ssp">
                    <p class="heading">PAYMENTS AND DISCOUNTS</p>
                  
                   <p style="font-weight: lighter;">Choose mode of payment.</p>
                </div>
               
            
              <div> <hr></div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
                 
         
                     
                  <h6>With 'Complete Purchase' you accept H&M's Terms & Conditions

                    We will process your personal data in accordance with the H&Ms Privacy Notice.</h6>
                  
     <!-- </div> -->
     <button class="btn" id="btn">COMPLETE PURCHASE</button>
     <hr>
     <div class="terms-Cond">
        <img src="https://i1.lmsin.net/website_images/common/images/logos/logo-comodo.png" alt="" width="60px">
        <p> Your credit card details are securely encrypted and passed directly to our PCI DSS compliant Payment Gateway for processing. We only store your credit card's last 4 digits and the expiration date. Your traffic to this page is secured using either a 256-bit or 128-bit SSL certificate depending on your browser version.</p>
    </div>      
              
                
</body>

</html>

<script type="module">
  import checkout from "./components/checkout.js"

  document.getElementById("tot").innerHTML=checkout()


/* payment  */


   var data=JSON.parse(localStorage.getItem("ItemArr"))||[]

   console.log(data)
   
let total=data.reduce(function(ac,cv){

return ac +Number(cv.price)
},0)
document.getElementById("rs").textContent=total;

document.getElementById("btn-ides").addEventListener("click",applyCoup)
// applyCoup()
let pr=Math.floor(Math.random()*100+100)
document.getElementById('drs').textContent=pr

document.getElementById("tors").textContent=total+pr

function applyCoup(){
// console.log(total)

let coupon = document.getElementById("coupanInput").value;

if(coupon == "masai30"){
  let a = total*(30/100);
// console.log(a)

document.querySelector("#tors").textContent = total-a.toFixed(3);
}

}




    document.querySelector(".cusRadioB1").addEventListener("click", () => {
  document.querySelector(".dot1").style.visibility = "visible";
  document.querySelector(".dot2").style.visibility = "Hidden";
});
document.querySelector(".cusRadioB2").addEventListener("click", () => {
  document.querySelector(".dot2").style.visibility = "visible";
  document.querySelector(".dot1").style.visibility = "Hidden";
});

document.querySelector(".cusRadioB3").addEventListener("click", () => {
  document.querySelector(".dot3").style.visibility = "visible";
  document.querySelector(".dot4").style.visibility = "Hidden";
});
document.querySelector(".cusRadioB4").addEventListener("click", () => {
  document.querySelector(".dot4").style.visibility = "visible";
  document.querySelector(".dot3").style.visibility = "Hidden";
});

var dataArr = [];

document.querySelector("#btn").addEventListener("click", function () {
  var Fullname = document.querySelector("#name1").value;
  var name = document.querySelector("#name").value;
  var city = document.querySelector("#city").value;
  var state = document.querySelector("#state").value;
  var building = document.querySelector("#building").value;
  var street = document.querySelector("#street").value;
  var landmark = document.querySelector("#landmark").value;
  var cardnum = document.querySelector("#cardnum").value;
  var nameCard = document.querySelector("#nameCard").value;
  var cvv = document.querySelector("#cvv").value;

  if (
    Fullname == "" ||
    name == "" ||
    cardnum == "" ||
    city == "" ||
    state == "" ||
    building == "" ||
    street == "" ||
    landmark == "" ||
    cardnum == "" ||
    nameCard == "" ||
    cvv == ""
  ) {
    alert("Empty Input fields");
  } else if (cardnum.length < 16) {
    alert(" Please Enter 16 digit Card Number");
  } else {
    var dataObj = {
      Fullname,
      name,
      city,
      state,
      building,
      street,
      landmark,
      cardnum,
      nameCard,
      cvv,
    };
    dataArr.push(dataObj);
    localStorage.setItem("cwp1", JSON.stringify(dataArr));
    alert("Order Placed");
    localStorage.removeItem("cartStorageData");
    window.location.href = "homepage.html";
  }

  // console.log(Fullname, name,city,state,building,street,cardnum,landmark,nameCard,cvv);
  // alert("here")
});
// ------------------vinit-------------------
// document.getElementById("h3click").addEventListener("click", function () {
//   window.location.href =
//     "https://www.google.co.in/maps/search/lifestyle+stores+in+India/@21.1418524,78.9805008,11z/data=!3m1!4b1";
// });

// document.getElementById("paymentBtn").addEventListener("click", payment);

function payment() {
  var pincode = document.getElementById("scwidth").value;
  var mobile = document.getElementById("scwidth1").value;

  var pincode1 = 6;
  var mobile1 = 10;

  if (pincode.length == pincode1 && mobile.length == mobile1) {
    alert("Yo will be now redirected for payment ");
    window.location.href = "homepage.html";
  } else {
    alert("Please enter 6 digit pincode and 10 digit mobile number");
  }

  var userArr = JSON.parse(localStorage.getItem("userdata")) || [];

  var fullname = document.getElementById("fullname").value;
  var number = document.getElementById("number").value;
  var pincode = document.getElementById("pincode").value;
  var city = document.getElementById("city").value;
  var selectwidth = document.getElementById("selectwidth").value;
  var buildingname = document.getElementById("buildingname").value;
  var streetname = document.getElementById("streetname").value;
  var landmark = document.getElementById("landmark").value;
  // console.log()
  var userDetails = {
    Fullname: fullname,
    Number: number,
    Pincode: pincode,
    City: city,
    Selectwidth: selectwidth,
    Buildingname: buildingname,
    Streetname: streetname,
    Landmark: landmark,
  };
  //console.log();
  userArr.push(userDetails);
  //console.log(userArr);
  localStorage.setItem("userData", JSON.stringify(userArr));
  //console.log("userArr:",userArr);
}

//   ------------------------wert javascript part//-----------------------------------------------------

var productItem = JSON.parse(localStorage.getItem("cartStorageData"));
console.log(productItem);
var sum = 0;
productItem.forEach(function (item) {
  display(item.name, item.img_url, item.MRP, item.rupeeSign);
});

function display(name, image_url, MRP, rupee) {
  sum += MRP;
  var vDiv = document.createElement("div");
  vDiv.setAttribute("id", "vDiv");

  var divImgN = document.createElement("div");
  divImgN.setAttribute("id", "divImgN");
  var vImg = document.createElement("img");
  vImg.setAttribute("id", "vImg");
  vImg.setAttribute("src", image_url);

  divImgN.append(vImg);

  var pDivN = document.createElement("div");
  pDivN.setAttribute("id", "pDivN");
  var myPara1 = document.createElement("p");
  myPara1.setAttribute("id", "myPara1");
  myPara1.textContent = name;

  pDivN.append(myPara1);

  var pDivN2 = document.createElement("div");
  pDivN2.setAttribute("id", "pDivN2");
  var myPara1 = document.createElement("p");
  var myPara2 = document.createElement("p");
  myPara2.setAttribute("id", "myPara2");
  myPara2.textContent = "Price:";

  var myPara3 = document.createElement("myPara3");
  myPara3.setAttribute("id", "myPara3");
  myPara3.textContent = rupee + MRP;
  pDivN2.append(myPara2, myPara3);

  vDiv.append(divImgN, pDivN, pDivN2);

  var checkOutMain = document.getElementById("checkOutMain");
  checkOutMain.append(vDiv);
}
var tag = (document.getElementById("nikAmt").innerHTML =
  `<span> ₹ </span>` + sum);
if (sum <= 250) {
  sum += 40;
  var tag3 = (document.getElementById("freeN").textContent = "40");
  var tag2 = (document.getElementById("finalTotal").innerHTML =
    `<span> ₹ </span>` + sum);
} else {
  var tag3 = (document.getElementById("freeN").textContent = "Free");
  var tag2 = (document.getElementById("finalTotal").innerHTML =
    `<span> ₹ </span>` + sum);
}

var tag2 = (document.getElementById("finalTotal").innerHTML =
  `<span> ₹ </span>` + sum);


  var itemArr=JSON.parse(localStorage.getItem("cartData"))||[];
   console.log(itemArr)
  show(itemArr)
function show(itemArr){
  document.getElementById("item").textContent="";
  // console.log("item:",item)
itemArr.forEach((el,index)=>{
  console.log("el:",el)
  let conts=document.createElement("div")
conts.setAttribute("class","conts")
     let imgDiv=document.createElement("div")
     imgDiv.setAttribute("id", "imgDiv")

     let img=document.createElement("img")
     img.src=el.image


     let priDiv=document.createElement("div")
     let detDiv=document.createElement("div")
     
     let pri=document.createElement("p")
     pri.textContent=`Rs.${el.price}`
     let typ=document.createElement("p")
     typ.textContent=el.brand
     let name=document.createElement("p")
     name.textContent=el.name
       let btn=document.createElement("div")
       btn.innerHTML=`<i class="far fa-trash-alt"></i>`

       btn.addEventListener("click",function(){
         makeDelete(index)
         console.log(index)
       })
      detDiv.append(btn)
     imgDiv.append(img)
     priDiv.append(typ,name,pri)
     conts.append(imgDiv,priDiv,detDiv)
     document.getElementById("orsum").append(conts)
})
}



</script>