<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="icon" href="https://tse2.mm.bing.net/th?id=OIP.tIpRgOXKcINGu9VwvaNkBwAAAA&pid=Api&P=0&w=300&h=300">
    <link rel="stylesheet" href="css/customer.css" />
    <style>


    </style>
</head>
<body>
    
  <div class="fd">
    <a href="homepage.html"><h1>HOME</h1></a>
<h3>Coronavirus</h4>
<p>Information</p>
<br>
<br>
<h3>Shopping at H&M</p>
<p>Shopping online</p>
<p>Store locator</p>
<p>Scan and Find</p>
<p>Visual Search</p>
<p>Our store</p>
<br>
<br>
<p>Delivery
</p>
<p>Payments</p>
<p>Returns</p>
<br>
<br>
<br>
<h3>Download App</h3>
<p>About hm.com</p>
<br>
<br>
<h3>Gift Cards</h3>
<p>Gift Cards</p>
<p>Terms & Conditions</p>
<br>
<br>
<h3>Size Guide</h3>
<p>Womne</p>
<p>Men</p>
<p>Baby & Kids</p>
<p>H&M HOME</p>
<br>
<br>
<h3>H&M Membership</h3>
<p>Discover the Membership</p>
<p>H&M Membership Terms</h7>
    <p>Conditions</p>
    <br>
    <br>
    <h3>Legal and Privacy</h3>
    <p>Privacy Notice</p>
    <p>Terms & Conditions</p>
    <p>Product Review Terms</p>
    <p>Terms & Conditions #HMxME</p>
    <br>
    <br>
    <h3>CSR</h3>
    <p>Corporate and Social Responsibility</p>
    <p>(CSR) Policy</p>
    <p>CSR Committee Composition</p>
    <p>CSR Annual Action plan</p>
    <br>
    <br>

    <p>Contact</p>
    <p>Corporate Info</p>
    <p>Career at H&M</p>

        </div>
        <div class="sd">
    <h1>HOW CAN WE HELP YOU TODAY?</h1>
    <h5>When business as usual becomes unusual. Read all about our response to COVID here.</h5>
    <p style="text-decoration: underline;">Store locator</p>
    <h5>Find opening hours and information about our stores

    </h5>
    <br>
    <br>
    <h4>POPULAR TOPICS</h4>
   <div class="ico"><div class="ic">
       <img src="https://www2.hm.com/content/dam/Customer-Service/CS-Start-page-icons/Desktop-Start-page-icons/delivery_40.jpg">
   </div>
   <div class="box">Delivery</div></div>
   <br>
  
   <div class="ico"><div class="ic">
    <img src="https://www2.hm.com/content/dam/Customer-Service/CS-Start-page-icons/Desktop-Start-page-icons/payment_40.jpg">
</div>
<div class="box">Payments</div></div>
<br>
<div class="ico"><div class="ic">
    <img src="https://www2.hm.com/content/dam/Customer-Service/CS-Start-page-icons/Mobile-Startpage-icons/returns_50.jpg">
</div>
<div class="box">returns</div></div>
<br>
<div class="ico"><div class="ic">
    <img src="https://www2.hm.com/content/dam/Customer-Service/CS-Start-page-icons/Mobile-Startpage-icons/shopping_50.jpg">
</div>
<div class="box">एच एंड एम शॉपिंग डिलीवरी गाइड</div></div>
<br>
<div class="ico"><div class="ic">
    <img src="https://www2.hm.com/content/dam/Customer-Service/CS-Start-page-icons/Desktop-Start-page-icons/contact_40.jpg">
</div>
<div class="box">Contact Us</div></div>
<br>
<br>
<h5 style="font-weight: light;">For questions regarding your personal data, and instructions on how to access or delete your stored information, please visit our Privacy Notice. </h4>

   <br>
   
</body>
</html>